#start{
    width: 0px;
    height: 0px;
}

#factory{
    width: 0px;
    height: 0px;
}

#charger{
    width: 0px;
    height: 0px;
}

#map {
    position: absolute;
    /*top: 100px;*/
    /*left: 500px;*/
}
#blue_drone {
    width: 0px;
    height: 0px;
}

#red_drone {
    width: 0px;
    height: 0px;
}

#blocked_car {
    width: 0px;
    height: 0px;
}

#blocked_drone {
    width: 0px;
    height: 0px;
}


#box {
    width: 0px;
    height: 0px;
}

#green_box {
    width: 0px;
    height: 0px;
}

#red_box {
    width: 0px;
    height: 0px;
}

#blue_box {
    width: 0px;
    height: 0px;
}

#blue_car {
    width: 0px;
    height: 0px;
}

#red_car {
    width: 0px;
    height: 0px;
}

#boom {
    width: 0px;
    height: 0px;
}

#jdun {
    width: 0px;
    height: 0px;
}

#vertiport {
    width: 0px;
    height: 0px;
}
#blue_start1 {
    width: 0px;
    height: 0px;
}
#blue_start2 {
    width: 0px;
    height: 0px;
}
#blue_start3 {
    width: 0px;
    height: 0px;
}
#blue_start4 {
    width: 0px;
    height: 0px;
}
#red_start1 {
    width: 0px;
    height: 0px;
}
#red_start2 {
    width: 0px;
    height: 0px;
}
#red_start3 {
    width: 0px;
    height: 0px;
}
#red_start4 {
    width: 0px;
    height: 0px;
}

#arrow {
    width: 0px;
    height: 0px;
}

#home {
    width: 0px;
    height: 0px;
}